<p>Hello <%= @visitor.name %>,</p>

<p>Thank you for your enquiry. We are excited you have taken the time to consider our charity!</p>

<p>Here is a summary of your enquiry:</P>

<p>Name:&nbsp;&nbsp; <%= @visitor.name %></p>

<p>Email:&nbsp;&nbsp; <%= @visitor.email %></p>

<p>Telephone:&nbsp;&nbsp; <%= @visitor.phone %></p>

<p>Enquiry:&nbsp;&nbsp; <%= @visitor.message %></p>



<p>We will contact you shortly to discuss your requirements.</p>

<p>Sincerely,</p>

<p>Kristi Falconer</p>
