<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_1.jpg") %></div>
  </section>
</div>

<div class="page-title">
  <section class="layout">
    <h1>Contact Us<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
  </section>
</div>

<div class="contact-page-layout">
  <div class="page-text">
    <p>Signs of Hope in Africa
      <br>
      433-1575 Begbie Street, Victoria, BC Canada, V8R 1L2
      <br>Email: info@signsofhopeinafrica.org
      <br>Tel: 250-514-9192</p>
  </div>
</div>
<br>
<br>

<div class="contact-page-layout">
  <section>
<div class="contact-image">
  <section class="layout">
    <div class="branding"><%= image_tag("contact_image.jpg") %></div>
  </section>
</div>

<div class="program-page-layout">
  <section="layout">
    <%= simple_form_for @visitor, :html => { :class => "simple-form"} do |f| %>
      <div class="simple-form">
        <%= f.input :name, :input_html => { style: 'width: 280px; '}, label: false, placeholder: 'Name' %>
      </div>
      <div>
        <div>
          <%= f.input :email, :input_html => { style: 'width: 280px; '}, label: false, placeholder: 'Email' %>
        </div>
      <div>
        <%= f.input :phone, :input_html => { style: 'width: 280px; '}, label: false, placeholder: 'Telephone No.' %>
      </div>
      <div>
        <%= f.input :message,as: :text, :input_html => { style: 'height: 80px; width: 280px; '}, label: false, placeholder: 'Enquiry'%>
      </div>
      <div>
        <%= f.submit "Submit", :class => "create" %>
      </div>
      <div>
      <% end %>
    </div>
  </div>
</section>
</div>
</section>
<div>

