
  	<div>
			<p>Hello <%= @visitor.name %>,</p>

			<p>Here is a summary of your enquiry:</P>
				<br>
			<p>Name:&nbsp;&nbsp; <font color = "white"><%= @visitor.name %></font></p>

			<p>Email:&nbsp;&nbsp; <font color = "white"><%= @visitor.email %></font></p>

			<p>Telephone:&nbsp;&nbsp; <font color = "white"><%= @visitor.phone %></font></p>

			<p>Enquiry:&nbsp;&nbsp; <font color = "white"><%= @visitor.message %></font></p>
			<br>
			<p>We will contact you shortly to discuss your requirements.</p>
			<br>
			<p>Sincerely,</p>
			<br>
			<p>Kristi Falconer</p>
	</div>

