<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_10.jpg") %></div>
  </section>
</div>

<div class="board">
		<section class="layout">
			<h1>Board Members</h1>
		</section>
</div>

<div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("kristi.jpg"), asset_path("kristilarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
      <div class="biography">
        <h3>Kristi Falconer,<span class="small"> President and Founder</span></h3>
        <p>A born and raised Victorian and a registered Sign language interpreter in Victoria since 1992, Kristi has travelled extensively and participated in many community building projects both locally and internationally. She strongly believes that positive role modeling and mentoring of children prepares youth to become future global citizens and humanitarians. She inspires others through her passion, commitment and dedication to Signs of Hope in Africa and she truly believes that, “Together, we CAN make a difference.” Kristi loves spending time outdoors with her young son Kylen.</p>
      </div><!-- member -->
  	</div>
  </section>
</div>

 <div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("tracey.jpg", class: "img-rounded"), asset_path("traceylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Tracey Purvis, Vice-President" %>
      <div class="biography">
        <h3>Tracey Purvis,<span class="small"> Vice-President</span></h3>
        <p>Originally hailing from a small village in Ontario, Tracey lived in Calgary for 10 years before settling in Victoria in 1988. One of her life-long passions is children, running a licensed family daycare for many years while raising her daughter, as well as providing respite foster care. She feels all children deserve an equal start in life and that the futures of the families of Jambiani are already so much brighter thanks to Signs of Hope in Africa. Tracey is currently working in healthcare and in her spare time loves tending her ever-expanding gardens.</p>
      </div>
    </div>
  </section>
</div>

 <div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("julia.jpg", class: "img-rounded"), asset_path("julialarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Julia Keenan, Secretary" %>
      <div class="biography">
        <h3>Julia Keenan,<span class="small"> Secretary</span></h3>
        <p>Growing up in Quebec, Nova Scotia and British Columbia, Julia has a deep appreciation for the opportunities she is privileged to experience as a Canadian. She desires to share her good fortune with vulnerable communities around the world. Since 2005 Julia has worked with students with disabilities at the University of Victoria and has become an advocate for youth education, with special attention to those in different or difficult situations. She has a background in fund development, management, and administration. Julia is an avid baker, hiker, and hockey fan.</p>
      </div><!-- member -->
    </div>
  </section>
</div>

<div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("ren.jpg", class: "img-rounded"), asset_path("renlarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Ren Ashcroft, Treasurer" %>
      <div class="biography">
        <h3>Ren Ashcroft,<span class="small"> Treasurer</span></h3>
        <p>Ren is another true British Columbian, being born in Williams Lake then moving with her family to Vancouver Island in 2001. Currently, she attends Camosun College working toward a Bachelor's Degree in Business with a Major in Accounting. Ren's passion is to make a positive difference in the world by helping those less fortunate than herself. Her belief that all children and families have the right to necessities of life and education is what motivated her to contribute her business and accounting skills to our organization.</p>
      </div><!-- member -->
    </div>
  </section>
 </div>

<div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("brittany.jpg"), asset_path("brittanylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Brittany Scarrow, Member-at-Large" %>
      <div class="biography">
        <h3>Brittany Scarrow,<span class="small"> Member-at-large</span></h3>
        <p>After growing up in Alberta and Ontario, Brittany graduated with a Bachelor of Science degree from the University of Victoria in 2008. Brittany was so impressed with the effective community support provided to the children and families of Jambiani by our organization; she joined us. She brings an administrative skill set to Signs of Hope and continues to support the organization through fundraising events in Saskatchewan.</p>
      </div><!-- member -->
    </div>
  </section>
</div>

<div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("kathy.jpg", class: "img-rounded"), asset_path("kathylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Kathy Martin, Member-at-Large" %>
      <div class="biography">
        <h3>Kathy Martin,<span class="small"> Member-at-large</span></h3>
        <p>Kathy grew up in Mauritius, an island off the east coast of the African continent. After living in UK for 22 years, working in senior management in the healthcare, regulatory and business sectors, she relocated to Victoria with her family. Kathy now has a practice in Victoria working as a Financial Advisor. She has great passion for projects that directly support and impact long term assistance for children and families in Africa. Her aim for the charity is to build business sponsorships and awareness that will make a difference in the future of young people in Jambiani.</p>
      </div><!-- member -->
    </div>
  </section>
</div>

<div class="boardmembers">
  <section class="layout">
    <div class="members">
    	<%= link_to image_tag("mrisho.jpg"), asset_path("mrisholarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Mrisho Haji Vuaa, Director" %>
      <div class="biography">
        <h3>KMrisho Haji Vuaa,<span class="small"> Director</span></h3>
        <p>Born and raised on the island of Zanzibar, Mrisho provides a wealth of cultural knowledge and an understanding of the people of Jambiani. He directs project work while mentoring and training families receiving start-up costs in establishing their family businesses. Mrisho has completed training programs in Project Planning Management and Human Resource Management and is a trained HIV/AIDS Educator. Having completed a Hotel and Tourism Program, Mrisho manages a local hotel in Jambiani.</p>
      </div><!-- member -->
    </div>
  </section>
</div>
