<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_12.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Bicycle Program</h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>Apart from walking, bicycles are the main mode of travel around Jambiani. We implemented the Bicycle Program in 2006 and bicycles are donated to the village pre-schools. The idea behind this program was that instead of walking in the heat to and from work, the teachers could ride a bike in half the time and have more energy to invest in their students.
		<br>
		<br>
		Once the bicycles arrive at the schools, the local farmers use them to ride out to their shambas (farms), considerably cutting down on their travel time. These farmers have minimal tools to work their land, so the time saved enables them to be more productive on their shambas while being gone from home the same amount of time.
		<br>
		<br>
		When not in use, the bicycles can be rented by tourists, which provide the teachers with a small income to purchase classroom supplies.
		<br>
		<br>
		This versatile program greatly benefits all involved. With your donation, Signs of Hope in Africa can purchase more bicycles to support further transportation collaborations within the village.
		<br>
		<br>
		The cost of a new bicycle, purchased on the island of Zanzibar, is $110.</p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
	</div>
</div>

