<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_11.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Breakfast Program<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>A person’s ability to absorb information is greatest when still a young child; this ability should never be disrupted by hunger pains and fatigue associated with not having enough to eat.  Our Breakfast Program ensures pre-school age children obtain a strong start to their days, and will have lasting, positive effects as they continue their education.
		<br>
		<br>
		Our Breakfast Program, implemented in 2007, currently provides daily breakfast to over 300 children, aged 2 to 6 years old, in three different pre-schools.  The schools have seen a significant increase in attendance since the Breakfast Program started.
		<br>
		<br>
		The breakfast provided consists of porridge made with flour, grains, red beans, coconut, and fresh spices grown on the island such as cumin, cardamom and cinnamon. The combination of ingredients provides basic nutrition to school children who would otherwise be trying to learn on empty stomachs.  It increases their ability to focus, be creative, and learn.
		<br>
		<br>
		Our Breakfast Program additionally provides benefits to three village women who are hired to prepare and serve breakfast; one woman per school.  The women’s weekly wage provides their families with a stable monthly income.</p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("breakfast_4.jpg"), asset_path("breakfast_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("breakfast_5.jpg"), asset_path("breakfast_5.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("breakfast_6.jpg"), asset_path("breakfast_6.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("breakfast_4.jpg"), asset_path("breakfast_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("breakfast_5.jpg"), asset_path("breakfast_5.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("breakfast_6.jpg"), asset_path("breakfast_6.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
</div>
