<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_13.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Classroom Project</h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>In 2012, we replaced the leaking and rotting roof on the primary school building. In 2013, the goals of the Classroom Project are to cement floors and walls of 5 primary classrooms, and furnish them with 4-seater desks. Currently, the children sit either on the dirt floor or on broken chairs with another student, making it difficult for them to learn and concentrate.
		<br>
		<br>
		Desks are built on the island and transported on the roof by a local bus, called a 'dala-dala', thus contributing significantly to the local economy.
		<br>
		<br>
		We are also purchasing cement and hiring the services of a local worker to cement the floors and walls of each of the 5 primary classrooms.
		<br>
		<br>
		The cost of a new desk being built and delivered is $110. The cost to cement a classroom is $230.</p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
	</div>
</div>

