<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_13.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Classroom Project<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>In 2012, we replaced the leaking and rotting roof on the primary school building. In 2013, the goals of the Classroom Project are to cement floors and walls of 5 primary classrooms, and furnish them with 4-seater desks. Currently, the children sit either on the dirt floor or on broken chairs with another student, making it difficult for them to learn and concentrate.
		<br>
		<br>
		Desks are built on the island and transported on the roof by a local bus, called a 'dala-dala', thus contributing significantly to the local economy.
		<br>
		<br>
		We are also purchasing cement and hiring the services of a local worker to cement the floors and walls of each of the 5 primary classrooms.
		<br>
		<br>
		<strong class="highlighted-text">The cost of a new desk being built and delivered is $110.</strong>
		<br>
		<br>
		<strong class="highlighted-text">The cost to cement a classroom is $230.</strong></p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("classroom_1.jpg"), asset_path("classroom_1.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_2.jpg"), asset_path("classroom_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_3.jpg"), asset_path("classroom_3.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_4.jpg"), asset_path("classroom_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_5.jpg"), asset_path("classroom_5.JPG"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_6.jpg"), asset_path("classroom_6.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_7.jpg"), asset_path("classroom_7.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("class_room_8.jpg"), asset_path("class_room_8.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_9.jpg"), asset_path("classroom_9.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_10.jpg"), asset_path("classroom_10.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_11.jpg"), asset_path("classroom_11.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_12.jpg"), asset_path("classroom_12.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_13.jpg"), asset_path("classroom_13.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_14.jpg"), asset_path("classroom_14.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("classroom_15.jpg"), asset_path("classroom_15.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
</div>

