<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_15.jpg") %></div>
  </section>
</div>

<div class="events-page-layout">
	<section class="layout">
		<div class="page-title">
			<section class="layout">
			<h1>Events Page<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
			</section>
</div>

<div class="easter-poster">
	<section class="layout">
		<h3>Easter Egg Hunt</h3>
		<%= link_to image_tag("Easter Poster.jpg", class: "img-rounded"), asset_path("Easter Poster.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</section>
</div>

<div class="easter-poster-text">
	<section class="layout">
		<p>Our 5th Annual Easter Egg Hunt at Beckwith Park was a huge success with over 3,200 people in attendance and we raised $7,400. This event included bouncy castles, face painting, crafts, games, police car, fire truck, music, a visit from the Easter Bunny and over 12,000 chocolate eggs. See you on Easter Sunday 2014 at Beckwith Park from 10-1pm.</p>
	</section>
</div>
</section>
</div>

<div class="events-page-layout">
<section class="layout">
<div class="race-poster">
	<section class="layout">
		<h3>Amazing Race For Africa</h3>
		<%= link_to image_tag("Amazing Race 2013-2.jpg", class: "img-rounded"), asset_path("Amazing Race 2013-2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</section>
</div>

<div class="race-poster-text">
	<section class="layout">
		<p>Round up your team of four and come join us for a day of fun and adventure. 8th Annual Amazing Race for Africa is a timed event with teams deciphering clues, completing tasks and being led to their next destination, task and clue. Prizes to be won!! Ages 14-60+ welcome! Advanced Registration Required $30/person. Click here to Register. Amazing Race Sunday November 3rd 11-4pm at UVic.</p>
	</section>
</div>
</section>
</div>

<div class="race-poster-text">
	<section class="layout">
	<p><strong class="highlighted-text">Please <%= link_to "Contact Us", new_visitor_path %> if you would like to be added to our email list advising of upcoming events.</strong></p>
</section>
</div>
