<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_3.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Family Sponsorship<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>Established in 2006, the Family Sponsorship Program provides start-up costs to families to establish their own businesses and break the cycle of poverty.
		<br>
		<br>
		Director Mrisho Vuaa, a highly respected local Zanzibari, works with families to identify their skills, interests and abilities. He then provides training and ongoing mentorship to ensure the businesses are successful.
		<br>
		<br>
		Examples of businesses include:
		<br>
		<br>
		- A produce stand which also sells kerosene and kangas (traditional women's garments)
		<br>
		<br>
		- Handmade soaps using island spices; sold to locals and tourist shops in Stone Town
		<br>
		<br>
		- Sale of daily caught fish; a fridge was purchased to keep fish fresh; sold to locals and area restaurants
		<br>
		<br>
		- Artisan breads; an oven was purchased; 80 loaves of bread which sell out daily
		<br>
		<br>
		- Milk and eggs; goats and chickens were purchased; sold to other villagers; also keeps owner families fed and healthy
		<br>
		<br>
		<strong class="highlighted-text">Your donation of $250 provides a family with the tools or inventory needed to establish a business, and includes the training and mentoring necessary to ensure success.</strong>
		<br>
		<br>
		<strong class="highlighted-text">Your donation of $100 provides a family with a flock of chickens or a pair of goats.</strong></p>
	</div>

<div class="page-photos">
		<%= link_to image_tag("family_2.jpg"), asset_path("family_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("family_3.jpg"), asset_path("family_3.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("family_4.jpg"), asset_path("family_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("family_3.jpg"), asset_path("family_3.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("family_2.jpg"), asset_path("family_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("family_3.jpg"), asset_path("family_3.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
</div>
