<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_3.jpg") %></div>
  </section>
</div>

<div class="page-photos">
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
		<%= link_to image_tag("kristi.png"), asset_path("kristilarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
	</div>
