<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_17.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Gift of Giving Program <a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>How often do you struggle to find a thoughtful gift? You want to give a meaningful gift to family, friends, colleagues, your child’s teacher, or those living in another country from you, but what can you give them that is unique or fits within your budget? Perhaps you are stuck as to what to give that person who “has everything they need”.
		<br>
		<br>
		Why not consider purchasing something on their behalf through Signs of Hope in Africa. Your purchase directly benefits and changes the lives of children and families living in Jambiani. Consider, a flock of chickens, school uniforms, a bicycle, a pair of goats, daily breakfast for pre-school children for a week or a month.
		<br>
		<br>
		Increasingly, many people are choosing to donate to a charity in the name of the gift recipient. A card is given describing the gift and that it was purchased in their honour for their birthday, Christmas or appreciation.
		<br>
		<br>
		This is the Gift of Giving
		<br>
		<br>
		We would appreciate you considering a Gift of Giving donation to Signs of Hope In Africa either by cheque, money order, or securely online through canadahelps.org*.
		<br>
		<br>
		*Should you choose to donate through CanadaHelps.org, you are given 3 options to notify the recipient: a free e-card sent from CanadaHelps, a card from us, or to send a personal note.</p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("gift_1.jpg"), asset_path("gift_1.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("gift_2.jpg"), asset_path("gift_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("gift_4.jpg"), asset_path("gift_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("gift_4.jpg"), asset_path("gift_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("gift_1.jpg"), asset_path("gift_1.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("gift_2.jpg"), asset_path("gift_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
</div>


