<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_9.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>How You Can Help<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="how-you-can">
	<section class="layout">
		<h1>Donate</h1>
		<p>Signs of Hope in Africa and the families of Jambiani in which we are supporting, are extremely grateful for your donation. Donations can be made online securely through canadahelps.org
		<br>
		<br>
		<strong class="highlighted-text">Please <%= link_to "Contact Us", welcome_contact_path %> if you would like to donate via cheque or money order.</strong></p>
	</section>
</div>

<div class="how-you-can">
	<section class="layout">
		<h1>Gift Of Giving Program</h1>
		<p>Do you want to give a meaningful gift but are on a limited budget? Are you struggling to find a unique gift for someone who “has everything”? Increasingly, many people are choosing to donate to a charity in the name of the gift recipient – truly giving two gifts in one!
		<br>
		<br>
		<strong class="highlighted-text">Details on this innovative idea can be found under <%= link_to "Programs", welcome_programs_path %>.</strong></p>
	</section>
</div>

<div class="how-you-can">
	<section class="layout">
		<h1>Events</h1>
		<p><strong>ATTEND / VOLUNTEER / SPONSOR</strong>
		<br>
		<br>
		<strong>Easter Egg Hunt</strong> - Easter Sunday from 10 am to 1 pm
		<br>
		<br>
		<strong>Amazing Race for Africa</strong> - First Sunday in November 11:30 am to 4:30 pm
		<br>
		<br>
		<strong class="highlighted-text">For event details, please see our <%= link_to "Events", welcome_events_path %> page. To volunteer your services, provide sponsorship, or donate prizes, please email us at info@signsofhopeinafrica.org.</strong></p>
	</section>
</div>

<div class="how-you-can">
	<section class="layout">
		<h1>Fundraiser</h1>
		<p>Holding your own fundraiser is a personally gratifying opportunity easily incorporated into your regular activities or used to teach children how they can make a positive difference for others. Ideas:
		<br>
		<br>
		<strong>‘Half for you and half for me’ birthday party</strong>
		<br>
		<br>
		Your child can invite guests to substitute cash for a gift. Half of the money stays with the birthday child and half comes to Signs of Hope in Africa which will 100% go directly towards supporting children in Jambiani (ie: new uniforms).
		<br>
		<br>
		<strong>Club contributors</strong>
		<br>
		<br>
		Your club or university/corporate/sport team can include a fundraising element in its next event. For example, a garden club can donate all or part of proceeds earned from a community plant sale. A sport/corporate team can challenge other teams to raise more funds than it can in a season. Donate all or part of the proceeds from a BBQ or Beer Garden at a tournament.
		<br>
		<br>
		<strong>Host a Dinner</strong>
		<br>
		<br>
		Invite a group of friends, relatives, colleagues to your place for dinner. Instead of asking them to bring an appy or dessert they can contribute to Sponsoring a Family. Your social evening of dinner with friends will change the future of a family in Jambiani.
		<br>
		<br>
		<strong>Pay-it-Forward</strong>
		<br>
		<br>
		Dedicate winnings from your friendly gaming get-togethers to Signs of Hope in Africa.</p>
	</section>
</div>

<div class="how-you-can">
	<section class="layout">
		<p><strong>Increase Awareness</strong>
			<br>
			<br>
			<strong class="highlighted-text">Please consider adding our website link on your social media (ie: Facebook, Twitter, LinkedIn).</strong>
		</p>
	</section>
</div>
