<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_5.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>School Uniform Program<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="program-page-layout">
	<div class="page-text">
		<p>The School Uniform Program has two main components:  it provides uniforms to students, and will provide an income to village women who have established a sewing co-operative to produce the uniforms.  New school uniforms are given, as needed, to children aged 6-12 years old - one classroom at a time.
		<br>
		<br>
		The program first started in 2006 when our founder was in Jambiani and identified 100 children as being in desperate need of a new uniform.  She was able to purchase these uniforms with funds raised prior to her trip.  It was amazing to see the beaming smiles of the children when they put their new uniforms on for the first time.It seemed that they grew an inch with pride and confidence as they admired their new attire.
		<br>
		<br>
		To date, more than 650 uniforms have been purchased from a family business in Stone Town.  We are currently supporting a group of women in Jambiani who are training to become seamstresses.  The goal is that as soon as they are fully trained and able to mass produce school uniforms we will purchase their inventory and provide these new uniforms for distribution to the village students.
		<br>
		<br>
		This program is an excellent opportunity to teach your child to become a global citizen by raising funds to purchase uniforms for their peers in Jambiani.  Suggestions include an increasingly popular fundraiser, the “Half for You and Half for Me” birthday party.  Attendees are invited to contribute cash (i.e. $10) in lieu of a present; the birthday child keeps half and donates the other half to charity.
		<br>
		<br>
		<strong class="highlighted-text">The cost of one school uniform is $10.</strong></p>
	</div>

	<div class="page-photos">
		<%= link_to image_tag("uniform_1.jpg"), asset_path("uniform_1.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("uniform_2.jpg"), asset_path("uniform_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("uniform_3.jpg"), asset_path("uniform_3.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("uniform_4.jpg"), asset_path("uniform_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("uniform_1.jpg"), asset_path("uniform_1.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
		<%= link_to image_tag("uniform_2.jpg"), asset_path("uniform_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Kristi Falconer, President and Founder" %>
	</div>
</div>
