<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_19.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Sponsors<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="gold-sponsors">
			<ul>
				<li><a href="http://www.investorsgroup.com/en/default.aspx" target="_blank"><%= image_tag("Investors_Group.jpg") %></a></li>
				<li><a href="http://www.thriftyfoods.com/" target="_blank"><%= image_tag("Thrifty_Foods.jpg") %></a></li>
				<li><a href="http://www.gala-van.com/" target="_blank"><%= image_tag("Gala_Van.jpg") %></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="silver-sponsors">
			<ul>
				<li class="island-tents"><a href="http://www.islandtentsandevents.com/" target="_blank"><%= image_tag("island_tents.png") %></a></li>
				<li><a href="http://www.coastenvironmental.ca/" target="_blank"><%= image_tag("coast_environmental.png") %></a></li>
				<li class="seaside-designs"><a href="http://nancyedolan.wordpress.com/" target="_blank"><h1>Seaside Designs</h1></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="bronze-sponsors">
			<ul>
				<li><a href="http://www.blackpress.ca/" target="_blank"><%= image_tag("ocean_promotion.gif") %></a></li>
				<li><a href="http://www.coastenvironmental.ca/" target="_blank"><%= image_tag("black_press.jpg") %></a></li>
				<li><a href="http://www.coastenvironmental.ca/" target="_blank"><%= image_tag("party_perfect.jpg") %></a></li>
				<li class="atwood-brewka"><h4>Atwood Brewka Law</h4></li>
			</ul>
	</div>
	</section>
</div>


