<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_19.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Sponsors<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="gold-sponsors">
			<ul>
				<li><a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Investors_Group.jpg") %></a></li>
				<li><a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Thrifty_Foods.jpg") %></a></li>
				<li><a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Gala_Van.jpg") %></a></li>
			</ul>
	</div>
	</section>
</div>

