<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_19.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Sponsors<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="page-title">
	<section class="layout">
		<h3>Thank you to our generous sponsors this past year.</h3>
		</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="gold-sponsors">
			<h2>Gold</h2>
			<ul>
				<li><a href="http://www.investorsgroup.com/en/default.aspx" target="_blank"><%= image_tag("Investors_Group.jpg") %></a></li>
				<li><a href="http://www.thriftyfoods.com/" target="_blank"><%= image_tag("Thrifty_Foods.jpg") %></a></li>
				<li><a href="http://www.gala-van.com/" target="_blank"><%= image_tag("Gala_Van.jpg") %></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="silver-sponsors">
			<h2>Silver</h2>
			<ul>
				<li class="island-tents"><a href="http://www.islandtentsandevents.com/" target="_blank"><%= image_tag("island_tents.png") %></a></li>
				<li><a href="http://www.coastenvironmental.ca/" target="_blank"><%= image_tag("coast_environmental.png") %></a></li>
				<li class="seaside-designs"><a href="http://nancyedolan.wordpress.com/" target="_blank"><h1>Seaside Designs</h1></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="bronze-sponsors">
			<h2>Bronze</h2>
			<ul>
				<li><a href="http://www.oceanpromotion.com/" target="_blank"><%= image_tag("ocean_promotion.gif") %></a></li>
				<li><a href="http://www.blackpress.ca/" target="_blank"><%= image_tag("black_press.jpg") %></a></li>
				<li><a href="http://par-t-perfect.com/" target="_blank"><%= image_tag("party_perfect.jpg") %></a></li>
				<li class="atwood-brewka"><h4>Atwood Brewka Law</h4></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="other-sponsors">
			<table>
				<tr>
					<td>Accent Inns</td>
					<td>Alice Lo Law</td>
					<td>Baggins Shoes</td>
				</tr>
			<tr>
				<td>Carol Mowat</td>
				<td>Chateau Victoria</td>
				<td>Colleen Falconer, RMT</td>
			</tr>
			<tr>
				<td>Costco</td>
				<td>Koto Japanese Restaurant</td>
				<td>Delta Ocean Pointe</td>
			</tr>
			<tr>
				<td>DJ Hinga Gatari</td>
				<td>Gallery Hair Salon</td>
				<td>Gemi Hair Products</td>
			</tr>
			<tr>
				<td>Fernwood Inn</td>
				<td>5th Street Bar & Grill</td>
				<td>Floyd's Diner</td>
			</tr>
			<tr>
				<td>Flying Otter Restaurant</yd>
				<td>Kelsey Matichu</td>
				<td>David's Tea</td>
			</tr>
			<tr>
				<td>La Fiesta Restaurant</td>
				<td>Marc Koehn</td>
				<td>Moka House(Hillside)</td>
			</tr>
			<tr>
				<td>Ocean River Sports</td>
				<td>Peacock Billiards</td>
				<td>Remax</tf>
			</tr>
			<tr>
				<td>Fernwood Inn</td>
				<td>5th Street Bar & Grill</td>
				<td>Floyd's Diner</td>
			</tr>
			<tr>
				<td>Flying Otter Restaurant</yd>
				<td>Silk Road Tea</td>
				<td>Starbucks(Quadra/McKenzie)</td>
			</tr>
			<tr>
				<td>Tumblebums</td>
				<td>Victoria Royals</p>
			</tr>
			</table>
	</div>
	</section>
</div>
