<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_19.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>Sponsors<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="gold-sponsors">
			<ul>
				<li><a href="http://www.investorsgroup.com/en/default.aspx" target="_blank"><%= image_tag("Investors_Group.jpg") %></a></li>
				<li><a href="http://www.thriftyfoods.com/" target="_blank"><%= image_tag("Thrifty_Foods.jpg") %></a></li>
				<li><a href="http://www.gala-van.com/" target="_blank"><%= image_tag("Gala_Van.jpg") %></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="silver-sponsors">
			<ul>
				<li class="island-tents"><a href="http://www.islandtentsandevents.com/" target="_blank"><%= image_tag("island_tents.png") %></a></li>
				<li><a href="http://www.coastenvironmental.ca/" target="_blank"><%= image_tag("coast_environmental.png") %></a></li>
				<li class="seaside-designs"><a href="http://nancyedolan.wordpress.com/" target="_blank"><h1>Seaside Designs</h1></a></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="bronze-sponsors">
			<ul>
				<li><a href="http://www.oceanpromotion.com/" target="_blank"><%= image_tag("ocean_promotion.gif") %></a></li>
				<li><a href="http://www.blackpress.ca/" target="_blank"><%= image_tag("black_press.jpg") %></a></li>
				<li><a href="http://par-t-perfect.com/" target="_blank"><%= image_tag("party_perfect.jpg") %></a></li>
				<li class="atwood-brewka"><h4>Atwood Brewka Law</h4></li>
			</ul>
	</div>
	</section>
</div>

<div class="sponsor-page-layout">
	<section class="layout">
		<div class="other-sponsors">
			<p>Accent Inns, Alice Lo Law</p>
			<p>Baggins Shoes, Carol Mowat</p>
			<p>Chateau Victoria, Colleen Falconer, RMT</p>
			<p>Costco, RMT, Koto Japanese Restaurant</p>
			<p>Delta Ocean Pointe, DJ Hinga Gatari</p>
			<p>Gallery Hair Salon, Gemi Hair Products</p>
			<p>Fernwood Inn, 5th Street Bar & Grill</p>
			<p>Floyd's Diner, Flying Otter Restaurant</p>
			<p>Kelsey Matichu, David's Tea</p>
			<p>La Fiesta Restaurant, Marc Koehn</p>
			<p>Moka House(Hillside), Ocean River Sports</p>
			<p>Peacock Billiards, Remax</p>
			<p>Silk Road Tea, Starbucks(Quadra/McKenzie)</p>
			<p>Tumblebums, Victoria Royals</p>
	</div>
	</section>
</div>
