<!DOCTYPE html>
<html>
<head>
  <title>SignsOfHope</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", welcome_about_path %></li>
    <li><%= link_to "Programs", welcome_programs_path %></li>
    <li><%= link_to "Events", welcome_events_path %></li>
    <li><%= link_to "Sponsors", welcome_sponsors_path %></li>
    <li><%= link_to "How You Can Help", welcome_how_path %></li>
    <li><%= link_to "Contact Us", welcome_contact_path %></li>
   </ul>

<%= yield %>

</body>
</html>
