<!DOCTYPE html>
<html>
<head>
  <!--[if IE8]>
  <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE10″ /><![endif]-->
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <title>SignsOfHope</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="slimmenu.css" type="text/css">

  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <script type="text/javascript">
  $(document).ready(function() {
  $("a.fancybox-button").fancybox({
    prevEffect    : 'none',
    nextEffect    : 'none',
    closeBtn    : true,
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48944910-1', 'signsofhopeinafrica.herokuapp.com');
  ga('send', 'pageview');

</script>
</head>
<body>
  <header>
    <div class="slimmenu">
        <ul id="navigation" class="slimmenu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", welcome_about_path %></li>
          <li><%= link_to "Programs", "#" %>
            <ul>
              <li><%= link_to "Breakfast Program", welcome_breakfast_path %></li>
              <li><%= link_to "Family Sponsorship", welcome_family_path %></li>
              <li><%= link_to "Classroom Project", welcome_classroom_path %></li>
              <li><%= link_to "School Uniform", welcome_school_path %></li>
              <li><%= link_to "Gift of Giving", welcome_gift_path %></li>
              <li><%= link_to "Bicycle Program", welcome_bicycle_path %></li>
              <li><%= link_to "Sign Language Program", welcome_sign_path %></li>
              <li><%= link_to "Eye Clinic", welcome_eye_path %></li>
            </ul>
          </li>
          <li><%= link_to "Events", welcome_events_path %></li>
          <li><%= link_to "Sponsors", welcome_sponsors_path %></li>
          <li><%= link_to "How You Can Help", welcome_how_path %></li>
          <li><%= link_to "Contact Us", new_visitor_path %></li>
        </ul>
    </div>
  </header>

  <%= yield %>
  <footer>
    <section class="layout">
      <div class="socialmediaicons"><span class="title"></span>
        <ul>
          <li><a href="http://linkedin.com" target="_blank"><%= image_tag("linkedin.png") %></a></li>
          <li><a href="http://twitter.com" target="_blank"><%= image_tag("twitter.png") %></a></li>
          <li><a href="https://www.facebook.com/SignsOfHopeInAfrica" target="_blank"><%= image_tag("facebook.jpeg") %></a></li>
          <li><a href="http://youtube.com" target="_blank"><%= image_tag("youtube.png") %></a></li>
          <li class="donate"><a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <div class="difference">
        <h3>Together We CAN Make A Difference</h3>
        <br>
        <p>Signs Of Hope In Africa &copy 2013</p>
      </div>
      </div>
    </section>
  </footer>
  <script src="jquery.slimmenu.min.js"></script>
  <script type="text/javascript">
    $('#navigation').slimmenu(
{
    resizeWidth: '800',
    collapserTitle: 'Signs of Hope in Africa',
    animSpeed: 'medium',
    easingEffect: null,
    indentChildren: false,
    childrenIndenter: '&nbsp;'
});
  </script>
</body>
</html>
